<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="wrapper">
    <a href="https://www.facebook.com/tyler.newton.562" class="fa fa-facebook"></a>
    <!--<a href="" class="discord"><img src="../../assets/Discord-Logo-Color.png" alt=""></a>-->
    <a href="https://www.linkedin.com/in/tyler-newton-aa8618194/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/dr._do_nothing/" class="fa fa-instagram"></a>
</div>
